/* Color Scheme
Primary color: #0099ff (a light blue color)
Secondary color: #66cc99 (a light green color)
Accent color: #ffcc66 (a light orange color)
Background color: #f5f5f5 (a light gray color) or #DADADA
Text color: #333333 (a dark gray color)
*/


/* || General Styles */
* {
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    min-width:525px;
    font-size:18px;
    font-weight: bold;
}

body {
    margin:auto;
    background-color: #f5f5f5;
    color:#333333;
    
}

p {
    line-height: 2;
}

/* || Header Styles */
header {
    background-color: #333333  ;
    color:#0099ff;
    border-bottom: 3px solid #0099ff ;
}
#header-container {
    height: 150px;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-image: url(images/MMlogo128px.png);
    background-repeat: no-repeat;
    background-position: 20px;
}



/* || Navbar Styles */
nav {
    padding-top:0px;
}
#main-nav ul {
    display: flex;
    list-style: none;
    margin:auto;
    max-width: 700px;
    padding:0;
    padding-left: 10px;
    padding-right: 10px;
    

}
#main-nav a {
    display:block;
    padding:4px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    color:#DADADA;
    
}
#main-nav li {
    flex:auto;
    text-align: center;
    height: 100%;
    margin:5px;
   
   
}
#main-nav a:hover {
    background-color:  #0099ff;
    color:#333333;
}

/* || Main Content Styles */
main {
    min-height: 100vh;
    width: 75%;
    margin: auto;
    padding: 24px;
    

}
section {
    padding: 10px;
    margin: 10px;
    border: 3px solid #333333;
    border-radius: 25px;
   
}

h2 {
    text-align: center;
}
p, h2, h3 {
    padding: 5px;
    
}

p {
    color: #333333;
    max-width: 75%;
    margin:auto;
}

/* || Footer Styles */

footer {
    height: 50px;
    text-align: center;
    left: 0;
    bottom:0;
    width:100%;
    background-color: #333333;
    color:#0099ff ;
    border-top: 3px solid #0099ff ;
    
}

@media screen and (max-width: 1000px) {
    main {
        width:auto !important;
    }

    section {
        width: 100% !important;
        margin:auto;
    }
}