/* Color Scheme
color 1: #3d5a80 dark blue
color 2: #98c1d9 blue
color 3: #e0fbfc light blue
color 4: #ee6c4d  orange
color 5: #293241 dark grey
*/


/* || General Styles */
* {
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    min-width:525px;
}

body {
    margin:auto;
    background-color: #293241;
    color:#ee6c4d;
    
}

/* || Header Styles */
header {
    background-color: #293241;
    color:#ee6c4d;
    border-bottom: 3px solid #ee6c4d;
}
#header-container {
    height: 150px;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-image: url(images/MMlogo128px.png);
    background-repeat: no-repeat;
    background-position: 5%;
}



/* || Navbar Styles */
nav {
    padding-top: 10px;  
}
#main-nav ul {
    display: flex;
    list-style: none;
    margin:auto;
    width: 100%;
    padding:0;
    padding-left: 10px;
    padding-right: 10px;
    

}
#main-nav a {
    display:block;
    padding:10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    background-color:#98c1d9;
    color:#293241

    
}
#main-nav li {
    flex:auto;
    text-align: center;
    height: 100%;
    margin:5px;
   
   
}
#main-nav a:hover {
    background-color: #3d5a80;
    color:white;
}

/* || Main Content Styles */
main {
    min-height: 100vh;
    width: 75%;
    margin: auto;
    

}
section {
    padding: 10px;
    margin: 10px;
    border: 3px solid #ee6c4d;
    border-radius: 25px;
   
}

p, h2, h3 {
    padding: 5px;
}

p {
    color: white;
}

/* || Footer Styles */

footer {
    height: 50px;
    text-align: center;
    left: 0;
    bottom:0;
    width:100%;
    background-color: #293241;
    color:#ee6c4d;
    border-top: 3px solid #ee6c4d;
    
}

@media screen and (max-width: 1000px) {
    main {
        width:auto !important;
    }

    section {
        width: 100% !important;
        margin:auto;
    }
}