/* Style sheet specific to the test your skills section*/
/* || Section Styles */

section h2 {
    text-align: center;
}
section p {
    border-radius: 10px;
}
/* Method to hide arrows on number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  /* Firefox */
}

button:hover {
    cursor:pointer;
    background-color: #3d5a80;
    color:white;
    font-weight: bold;
}

/* || Classes */
.options {
    flex-grow: 1;
    border: 1px solid;
    border-radius: 10px;
    padding:10px;
    text-align: center;
    margin:auto;
    height:50px;
}
.flexgrow {
    flex-grow: 1;
    text-align: center;
    margin:auto;
}

.borderless {
    border:none !important;
}

.button {
    height:100%;
    width:100%;
    border-radius: 10px;
    border-color: transparent;
    color: #ee6c4d;
    background-color: transparent;
    font-size: inherit;
    background-color:#98c1d9;
    color:#293241;
    font-weight: bold;
    
}

.flexCol {
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    
    
}
/* || Test Styles */
#test-window {
    margin: auto;
    max-width: 90%;
    width: 60vw;
    min-height: 70vh;
    border-radius: 25px;
    padding:10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

#test-window div,p {
    border: 3px solid #ee6c4d;
    padding:10px;
    color:white;
    text-align: center;
}

#test-container {
    margin:auto;
    display:none;
    
}

#testHeader {
    text-align: center;
}


/* || Tests Log styles */
#log {
    grid-area: log;
    border-radius: 0px 0px 25px 25px;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap:10px;
    padding: 10px;
    min-height:200px;
    
}
#log p {
    border-radius: 15px;
    flex-grow: 1;
}

/* || Tests QNA styles */
#QNA {
    grid-area: QNA;
    border-radius: 25px 25px 0 0;
    overflow:hidden;
    height:175px;
    
}

#QNA p, label, input {
    border:none;
    padding:5px;
}
#enterAnswer {
    width:75px;
    border-radius: 10px;
    text-align: center;
}

#submitButton {
    padding:5px;
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
}

#activeTest {
    margin-top: -10px;
    
}

#completeTest {
    margin-top: -10px;
    display:none;
    flex-flow:row;
    justify-content: space-around;
}
#testResults {
    text-align: left;
    line-height: 2;
}
#newTest, #restartTest {
    width:150px;
    height:40px
}

/* || Tests Options styles */

#test-options {
    padding:10px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap:20px;
}

#test-options input {
    width:40px;
    border-radius: 10px;
    text-align: center;
}

#test-options select {
    padding: 3px;
    border-radius: 10px;
    
}

